spring:
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  datasource:
    url: jdbc:h2:mem:note;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate.format_sql: true
  liquibase:
    contexts: dev
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 0
          cache-public: false

security:
  jwt:
    secret: dev-secret-change-me-32-characters-long
    issuer: notes-app
    access-token-ttl: PT2H

logging:
  level:
    root: debug
    org.hibernate.SQL: debug
    io.github.susimsek.springdataaotsamples: debug
