spring:
  application:
    name: spring-data-aot-samples
  profiles:
    active: '@spring.profiles.active@'
  main:
    allow-bean-definition-overriding: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 50
          fetch_size: 50
        order_inserts: true
        order_updates: true
    open-in-view: false
  mvc:
    problemdetails:
      enabled: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
        one-indexed-parameters: false
        serialization-mode: via_dto
  messages:
    basename: i18n/messages
  jackson:
    default-property-inclusion: non_null
  web:
    resources:
      chain:
        enabled: true

security:
  jwt:
    secret: ${SECURITY_JWT_SECRET:change-me-demo-secret-please-change-32}
    issuer: notes-app
    access-token-ttl: PT30M
