# Default values for note-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

image:
  repository: ghcr.io/susimsek/note-app
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest-native"

initContainers:
  waitForDb:
    image:
      repository: busybox
      pullPolicy: IfNotPresent
      tag: "1.37.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

containerPort: 8080

# Application environment variables
spring:
  profiles:
    active: prod
  datasource:
    url: jdbc:postgresql://postgresql:5432/note
    username: note
    password: "V5tDoPwOjIkoFLmO9X3W/l9VnfTVoXYo"

security:
  jwt:
    secret: "GOnGieF8gvSk01KtlZUwkpQB8U4tZWTrSt/BJm0+2Mk="

# Recommended: store secrets in an existing Kubernetes Secret and reference it from templates.
# The templates should mount all keys from this Secret via envFrom.
existingSecret:
  enabled: false
  name: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

probes:
  liveness:
    enabled: true
    path: /actuator/health/liveness
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3
  readiness:
    enabled: true
    path: /actuator/health/readiness
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 3

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "1"
    memory: "512Mi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  fullnameOverride: postgresql
  enabled: true
  architecture: standalone
  auth:
    username: note
    database: note
    password: "V5tDoPwOjIkoFLmO9X3W/l9VnfTVoXYo"
    existingSecret: ""
    secretKeys:
      userPasswordKey: password

  primary:
    networkPolicy:
      enabled: false
    persistence:
      enabled: false
      size: 8Gi

  metrics:
    enabled: false

  backup:
    enabled: false
